@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
}

/* Optimize scrolling performance */
body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(var(--orbit-distance)) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(var(--orbit-distance)) rotate(-360deg);
  }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}

.orbit {
  animation: orbit 10s linear infinite;
  transform-origin: center;
}

.orbit.reverse {
  animation-direction: reverse;
}


